.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: hsl(50, 100%, 60%);
  color: white;
  padding: 10px;
  box-shadow: 1px 1px 3px 2px rgb(224, 216, 0);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}
main > section {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter-container > h1 {
  font-size: 70px;
}
.buttons-set {
  display: flex;
  gap: 15px;
}
.counter-container h2 {
  width: 60px;
  height: 60px;
  padding: 10px 16px;
  text-align: center;
  background-color: aquamarine;
  font-weight: 900;
  color: white;
  border-radius: 7px;
  box-shadow: 1px 2px 4px 1px gray;
  cursor: pointer;
}

.note {
  background-color: white;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 1px 2px 2px 1px rgb(211, 211, 211);
  width: fit-content;
  max-width: 200px;
  height: fit-content;
}

.login-container{
  display: flex;
  justify-content: center;
  padding: 10vh;
  height: 100%;
  background-color: rgb(127, 246, 255);
}

.login-container > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: fit-content;
}

.login-container > form > input, button {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  border-color: white;
  border-radius: 7px;
  color: gray;
}

.login-container > form > button {
  background-color: white;
  color: hsl(180, 70%, 40%);
}


footer {
  background-color: gray;
  color: white;
  padding: 10px;
}